<!doctype html>
<html>
<head>
<title>My Page</title>
</head>
<body>
<p>
<ul>
  <li><a href="index">Index</a></li>
  <li><a href="characters">Characters</a></li>
  <li><a href="vehicles">Vehicles</a></li>
  <li><a href="planets">Planets</a></li>
  <li><a href="factions">Factions</a></li>
  <li><a href="p_faction">Planet/Factions</a></li>
</ul>
</p>
<p class="indexP">
Welcome to the Star Wars Database, where you can find and store any and all information on the Star Wars Universe. The tables you will find are as follows.  
</p>

<h2 class="indexTitle"> Characters Table</h2> 
<p class="indexP"> The Character table stores the names and information of all the characters. The table contains the characters Faction, Origin and Role. 
</p> 

<h2 class="indexTitle">Vehicles Table</h2> 
<p class="indexP"> The Vehicle table stores the names and information of all the vehicles. The tables contains the vehicles Name, Capacity, Lightspeed capability, and Pilot. 
</p> 

<h2 class="indexTitle">Planets Table</h2> 
<p class="indexP"> The Planet table stores the names and information of all the planets. The tables contains the planets Name, Population, and Environment. 
</p> 

<h2 class="indexTitle">Factions Table</h2> 
<p class="indexP"> The Faction table stores the names and information of all the factions. The tables contains the factions Name, Goal, and Size. 
</p> 

<h2 class="indexTitle">Planet/Faction Table</h2> 
<p class="indexP"> The Planet/Faction table stores the pairs of all the factions and planets. The table contains the ids of the factions and the planet in which they are found. 
</p> 

</body>
</html>