<!doctype html>
<html>
<head>
<title>My Page</title>
</head>
<body>
<p>
<ul>
  <li><a href="index">Index</a></li>
  <li><a href="characters">Characters</a></li>
  <li><a href="vehicles">Vehicles</a></li>
  <li><a href="planets">Planets</a></li>
  <li><a href="factions">Factions</a></li>
  <li><a href="p_faction">Planet/Factions</a></li>
</ul></p>

<form>
    <label>Enter a new entry</label>
    <p>Name:
        <input type="text" id="vName_input"></input> 
    </p>  
    
    <p>Capacity:
        <input type="number" id="vCapacity_input"></input>
    </p>  
    
    <p>Lightspeed:
        <select id="vLightspeed_input"> 
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </p>

    <p>Pilot: 
      <select id="vPilot_input">
            {{#each pilots}}
            <option value = "{{this.id}}"> {{this.name}}</option>
            {{/each}}
          </select> 
    </p>
    
    <input type="submit" value="Submit" id="addBtn">
</form>

<table class = "columnAfter">
 <caption>Vehicles</caption>
 <thead>
  <tr>
   <th> Name
   <th> Capacity
   <th> Lightspeed
   <th> Pilot
 <tbody id="rowContainer">
</table>

<script src="/js/swDBvhe.js"></script>
</body>
</html>